# 过滤cmake生成的内容
demo4quote/cpp/cmake/*
demo4risk/cpp/cmake/*
# .vscode
*/.vscode
# __pycache_
*/__pycache_

log/
lib/
__pycache__/
.vscode/

*.so

build/
cmake-build-debug/
cmake-build-release/

demo4quote/cpp/etc/*
demo4risk/cpp/etc/*
front_server/platform/etc/*


# grpc生成的代码
protos/cpp/*
# protos/python/*
*.pb.*
*.so
*.log
*.exe.*
*.exe